* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9fcfb;
}

.form-container {
    background-color: #fff;
    border-radius: .25em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.form h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: #666;
}

.form-control.error input {
    border-color: red;
}

.form-control.success input {
    border-color: green;
}

.form-control small {
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.form button {
    cursor: pointer;
    background-color: #3498db;
    border: 1px solid #666;
    border-radius: 4px;
    color: #fff;
    width: 40%;
    padding: 3px 0;
}
